.homepage__home {
    width: 100%;
    min-height: 100vh;
    clear: both;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.homepage__content {
    display: flex;
    align-items: center;
}

.homepage__content-picture {
    min-width: 300px;
    min-height: 300px;
    position: relative;
    border-radius: 100%;
}

.homepage__content-picture-img {
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    animation: morph 8s ease-in-out infinite 1s;
    background-blend-mode: multiply;
    box-shadow: inset 0px 0px 0px 9px rgba(255, 255, 255, 0.3);
    border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
    overflow: hidden;
}

@keyframes morph {
    0% {
      border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
    }
    50% {
      border-radius: 30% 60% 70% 40% / 50% 60% 30% 60%;
    }
    100% {
      border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
    }
  }

  .homepage__content-details {
    margin-left: 80px;
  }

  .homepage__content-details-name {
    font-size: 55px;
    font-weight: 800;
    text-transform: uppercase;
    margin-bottom: 19px;
  }

  .homepage__content-details-job {
    font-family: "Montserrat";
    font-style: italic;
    font-weight: 500;
    max-width: 450px;
    margin-bottom: 30px;
  }

  